<%= link_to pins_path do %>
	<button type="button" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-arrow-left"> Back
	</button>
<% end %>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @pin.image.url(:medium) %>
			</div>
			<div class="panel-body">
				<p><%= @pin.description %></p>
				<p><%= @pin.user.email if @pin.user  %></p>


				<% if @pin.user == current_user %>
            <%= link_to edit_pin_path(@pin) do %>
              <span class="glyphicon glyphicon-pencil">
            <% end %>
				<% end %>
		</div><!-- close .panel-body -->
	</div><!-- close .col-offset etc. -->
</div><!-- close .row -->